<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scrollable Boxes</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="big-box">
    <div class="grid-container">
      <!-- Repeat this for 33 items -->
      <div class="small-box">
        <img src="images/tomato.png" alt="Item 1">
        <p>tomato </p>
      </div>
      <div class="small-box">
        <img src="images/broccli.png" alt="Item 2">
        <p>broccoli </p>
      </div>
      <div class="small-box">
        <img src="images/lattus.png" alt="Item 3">
        <p>lattuce </p>
      </div>
       <div class="small-box">
        <img src="images/mushroom.png" alt="Item 4">
        <p>mushroom </p>
      </div>
       <div class="small-box">
        <img src="images/pepper.png" alt="Item 5">
        <p>pepper </p>
      </div>
       <div class="small-box">
        <img src="images/spinach.png" alt="Item 6">
        <p>spinach </p>
      </div>
       <div class="small-box">
        <img src="images/cucumber.png" alt="Item 7">
        <p>cucumber </p>
      </div>
       <div class="small-box">
        <img src="images/beet.png" alt="Item 8">
        <p>beets </p>
      </div>
       <div class="small-box">
        <img src="images/carrot.png" alt="Item 9">
        <p>carrot </p>
      </div>
       <div class="small-box">
        <img src="images/eggplant.png" alt="Item 10">
        <p>eggplant </p>
      </div>
       <div class="small-box">
        <img src="images/onion.png" alt="Item 11">
        <p>onion </p>
      </div>
       <div class="small-box">
        <img src="images/apple.png" alt="Item 12">
        <p>apple </p>
      </div>
       <div class="small-box">
        <img src="images/banana.png" alt="Item 13">
        <p>banana </p>
      </div>
      <div class="small-box">
  <img src="images/avocado.png" alt="Item 14">
  <p>avocado</p>
</div>

<div class="small-box">
  <img src="images/cheese.png" alt="Item 15">
  <p>cheese</p>
</div>

<div class="small-box">
  <img src="images/corn.png" alt="Item 16">
  <p>corn</p>
</div>

<div class="small-box">
  <img src="images/eggs.png" alt="Item 17">
  <p>eggs</p>
</div>

<div class="small-box">
  <img src="images/lemon.png" alt="Item 18">
  <p>lemon</p>
</div>

<div class="small-box">
  <img src="images/milk.png" alt="Item 19">
  <p>milk</p>
</div>

<div class="small-box">
  <img src="images/fish.png" alt="Item 20">
  <p>fish</p>
</div>

<div class="small-box">
  <img src="images/chicken.png" alt="Item 21">
  <p>chicken</p>
</div>

<div class="small-box">
  <img src="images/bread.png" alt="Item 22">
  <p>bread</p>
</div>

<div class="small-box">
  <img src="images/berries.png" alt="Item 23">
  <p>berries</p>
</div>

<div class="small-box">
  <img src="images/orange.png" alt="Item 24">
  <p>orange</p>
</div>

<div class="small-box">
  <img src="images/hotdog.png" alt="Item 25">
  <p>hot-dog</p>
</div>

<div class="small-box">
  <img src="images/watermelon.png" alt="Item 26">
  <p>watermelon</p>
</div>

<div class="small-box">
  <img src="images/potatoe.png" alt="Item 27">
  <p>potatoes</p>
</div>

<div class="small-box">
  <img src="images/rice.png" alt="Item 28">
  <p>rice</p>
</div>

<div class="small-box">
  <img src="images/meat.png" alt="Item 29">
  <p>meat</p>
</div>

<div class="small-box">
  <img src="images/peach.png" alt="Item 30">
  <p>peach</p>
</div>

<div class="small-box">
  <img src="images/radish.png" alt="Item 31">
  <p>radish</p>
</div>

<div class="small-box">
  <img src="images/redbeans.png" alt="Item 32">
  <p>red beans</p>
</div>

<div class="small-box">
  <img src="images/tomato_paste.png" alt="Item 33">
  <p>tomato paste</p>
</div>

      <!-- ... keep going until Item 33 -->
    </div>
  </div>
</body>
</html>

