<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scrollable Boxes</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="big-box">
    <div class="grid-container">
      <!-- Repeat this for 33 items -->
      <div class="small-box">
        <img src="images/item1.png" alt="Item 1">
        <p>Item 1</p>
      </div>
      <div class="small-box">
        <img src="images/item2.png" alt="Item 2">
        <p>Item 2</p>
      </div>
      <div class="small-box">
        <img src="images/item3.png" alt="Item 3">
        <p>Item 3</p>
      </div>
      <!-- ... keep going until Item 33 -->
    </div>
  </div>
</body>
</html>

